@use "variables" as v;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: v.$color-principal;
    color: v.$color-secundario;
    @include v.font(v.$font-titulos, 25px);
    padding: 10px;

    nav {
        ul {
            li {
                list-style: none;
                display: inline;
                margin: 20px;

                a {
                    color: v.$color-secundario;
                    text-decoration: none;
                }
            }
        }
    }
}

.logo-circular {
    @include v.size(100px, 100px);
    border-radius: 50%;
    overflow: hidden;
    @include v.flex-center();

    img {
        @include v.img-contain;
    }
}

.contenedor-logo {
    @include v.flex-center();
    padding: 10px;
}


@include v.mobile {
    .logo-circular {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        text-align: center;
        background-color: rgb(50, 22, 1);
        color: beige;
        font-size: 15px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 100;
        font-style: normal;
        padding: 8px;
    }

    header nav ul li {
        list-style: none;
        display: inline;
        margin: 3px;
        text-align: center;
    }

}