@use "variables" as v;

body {
    background-color: v.$color-fondo;
    @include v.font(v.$font-textos, 20px);
}

.títulos {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    @include v.font(v.$font-dec-titulos, solid);
    @include v.font(v.$font-textos, 25px);
}

.contenedor-productos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .producto-1 {
        display: flex;
        flex-direction: column;
        width: 300px;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: rgb(65, 30, 0);
        color: white;

        &:hover {
            transform: scale(1.1);
        }
    }

    .producto-2 {
        display: flex;
        flex-direction: column;
        width: 300px;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: rgb(65, 30, 0);
        color: white;

        &:hover {
            transform: scale(1.1);
        }
    }

    .producto-3 {
        display: flex;
        flex-direction: column;
        width: 300px;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: rgb(65, 30, 0);
        color: white;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.más-información {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.formulario {
    text-align: center;
    padding-bottom: 30px;
}

.whatsapp-estatico {
    display: flex;
    justify-content: flex-end;
    margin: 20px 15px;

    a img {
        width: 60px;
        height: 60px;
        animation: vibrate 0.3s infinite;
    }
}


@keyframes vibrate {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

@include v.mobile {

    .contenedor-productos {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;

        .producto-1 {
            display: flex;
            flex-direction: column;
            width: 250px;
            border: 1px solid #ccc;
            padding: 8px;
            background-color: rgb(65, 30, 0);
            color: white;
            font-size: small;
        }

        .producto-2 {
            display: flex;
            flex-direction: column;
            width: 250px;
            border: 1px solid #ccc;
            padding: 8px;
            background-color: rgb(65, 30, 0);
            color: white;
            font-size: small;
        }

        .producto-3 {
            display: flex;
            flex-direction: column;
            width: 250px;
            border: 1px solid #ccc;
            padding: 8px;
            background-color: rgb(65, 30, 0);
            color: white;
            font-size: small;
        }
    }

    .más-información {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: small;
    }

    .formulario {
        text-align: center;
        padding-bottom: 30px;
        font-size: small;
    }

    .whatsapp-estatico {
        display: flex;
        justify-content: flex-end;
        margin: 20px 15px;

        a img {
            width: 30px;
            height: 30px;
            animation: vibrate 0.3s infinite;
        }
    }
}