@use "variables" as v;

body {
    background-color: v.$color-fondo;
    @include v.font(v.$font-textos, 15px);
}

.títulos {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    @include v.font(v.$font-dec-titulos, solid);
    @include v.font(v.$font-textos, 25px);
}

.contenido-youtube {
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: underline;
}

.whatsapp-estatico {
    display: flex;
    justify-content: flex-end;
    margin: 20px 15px;

    a img {
        width: 60px;
        height: 60px;
        animation: vibrate 0.3s infinite;
    }
}


@keyframes vibrate {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

@include v.mobile {
    .videos-youtube iframe {
        width: 90%;
        height: auto;
        max-width: 90%;
        padding: 15px;
    }

    .contenido-youtube {
        padding-top: 25px;
        padding-bottom: 25px;
        text-decoration: underline;
    }

    .whatsapp-estatico {
        display: flex;
        justify-content: flex-end;
        margin: 20px 15px;

        a img {
            width: 30px;
            height: 30px;
            animation: vibrate 0.3s infinite;
        }
    }

}