@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);
header {
  text-align: center;
  background-color: rgb(50, 22, 1);
  color: beige;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  padding: 10px;
}
header nav ul li {
  list-style: none;
  display: inline;
  margin: 20px;
}
header nav ul li a {
  color: beige;
  text-decoration: none;
}

.logo-circular {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo-circular img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contenedor-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .logo-circular {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header {
    text-align: center;
    background-color: rgb(50, 22, 1);
    color: beige;
    font-size: 15px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 8px;
  }
  header nav ul li {
    list-style: none;
    display: inline;
    margin: 3px;
    text-align: center;
  }
}
footer {
  background-color: rgb(50, 22, 1);
  text-align: right;
  font-family: "Nunito", sans-serif;
  height: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
footer .contenedor-creado {
  justify-self: start;
}
footer .contenedor-creado .creado {
  text-align: left;
  color: beige;
  font-size: medium;
}
footer .contenedor-derechos {
  justify-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .contenedor-derechos .logo-footer {
  width: 35px;
  height: 30px;
  margin-bottom: 5px;
  object-fit: contain;
}
footer .contenedor-derechos .derechos {
  text-align: left;
  font-size: smaller;
  color: beige;
}
footer .redes {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  justify-self: end;
  margin: 0;
  padding: 0;
}
footer .redes li a {
  display: flex;
  justify-content: end;
  align-items: center;
  color: rgb(255, 228, 196);
}
footer .redes li a img {
  width: 60px;
  height: 60px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .footer {
    text-align: right;
    font-family: "Nunito", sans-serif;
    height: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  .footer .contenedor-creado {
    justify-self: start;
  }
  .footer .contenedor-creado .creado {
    text-align: left;
    color: beige;
    font-size: 8px;
  }
  .footer .contenedor-derechos {
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .contenedor-derechos .logo-footer {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    object-fit: contain;
  }
  .footer .contenedor-derechos .derechos {
    text-align: left;
    font-size: 7px;
    color: beige;
  }
  .footer .redes {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 7px;
    justify-self: end;
    margin: 0;
    padding: 0;
  }
  .footer .redes li a {
    display: flex;
    justify-content: end;
    align-items: center;
    color: rgb(255, 228, 196);
  }
  .footer .redes li a img {
    width: 30px;
    height: 30px;
  }
}
body {
  background-color: #ffe5c6;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}

.títulos {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-family: solid;
  font-size: solid;
  font-family: "Nunito", sans-serif;
  font-size: 25px;
}

.carrousel {
  width: 700px;
  height: 700px;
  object-fit: contain;
}
.carrousel img {
  max-width: 100%;
  max-height: 100%;
  border: 10px solid rgb(195, 167, 133);
}

.contenedor-carrousel {
  display: flex;
  flex-direction: row;
  justify-self: center;
  text-align: center;
  align-items: center;
  width: 600px;
  height: 600px;
}

.subtítulos {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

p {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  font-family: "Nunito", sans-serif;
}

.última-línea {
  padding-bottom: 50px;
}

.whatsapp-estatico {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  justify-content: flex-end;
  margin: 20px 40px;
}
.whatsapp-estatico a img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  transition: transform 0.2s ease;
}
.whatsapp-estatico a img:hover {
  transform: scale(1.1);
}

@media (min-width: 320px) and (max-width: 430px) {
  .subtítulos {
    display: flex;
    flex: row;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 10px;
  }
  .títulos {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: "nunito", sans-serif;
    font-optical-sizing: auto;
    text-decoration: solid;
    font-size: 23px;
  }
  .última-línea {
    display: flex;
    padding-bottom: 50px;
  }
  .carrousel {
    display: flex;
    flex-direction: row;
    height: 325px;
    width: 325px;
    justify-content: center;
    align-items: center;
    border: 10px;
  }
  .carrousel img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid;
    border-color: rgb(195, 167, 133);
  }
  .contenedor-carrousel {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: auto;
    width: auto;
    border: 3px;
  }
  .whatsapp-estatico {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    justify-content: flex-end;
    margin: 20px 15px;
  }
  .whatsapp-estatico a img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: transform 0.2s ease;
  }
}

/*# sourceMappingURL=style.css.map */
